:root {
  --font-color: #f8f8f8;
  --border: #a8a8a8;
  --btn: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  margin: 0 auto;
  width: 50%;
}

.header {
  background-color: #6666ff;
}

h1 {
  color: var(--font-color);
}

.card {
  width: 70%;
  border: 1px solid var(--font-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.bmi {
  margin: 20px;
  height: 60%;
}

.results {
  margin: 20px;
  height: 40%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-weight: 500;
  margin: 5px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--border);
}

.btn {
  font-weight: bold;
  font-size: 16px;
  background: var(--btn);
  color: var(--font-color);
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
